$env.DOTFILES = '/path/to/your/dotfiles'
$env.DEV = '/path/to/your/dev'
$env.OBSIDIAN_ROOT = '/path/to/your/obsidian'
$env.GIT_USE_EMOJI = true
$env.GIT_EMOJI_ALIGN = 'center'
$env.GIT_CLONE_PROTOCOL = 'ssh'
$env.PROXY = ''
